

*{
padding: 0;
margin: 0;
box-sizing: border-box;
overflow: hidden


}

h1{ font-family: Courier New;
    font-size: 25px;
	color: white;
	
}

h2{ 
	font-family: Courier New;
    font-size: 25px;
	color: black;
	font-weight: 1;

	

}
h4{ font-family: Courier New;
    font-size: 20px;
	color: black;
	font-weight: 1; }
h5{ font-family:Courier New ;
    font-size: 25px;
	font-weight: 1;
	color: black;
	padding: 10px;
	
	
	
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
   a:active {
	
    background: blue;
}

a:visited {
  color: black;
}
a:link {
  color: black;
}
.frontview { z-index: 1; 
position: relative;}
header{
  
  font-size: 21px;
  font-family: Courier New ;
  color: black;
}
body{background-image: url("../images/tileD.gif");
background-position: center;
	background-attachment: fixed;}
body{
	height= 100%
	background-position: center;
	background-attachment: fixed;

}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	

}
p{ font-family: Courier New;
font-weight: light;
    font-size: 12px;
	color: black;
	background-color: rgb(255,255,255) ;
}


.center {
  width: 35%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.bannerlogo {
  display: flex;
  width:100%;
  justify-content: center;
  align-items:center;
  background-color:rgba(255,255,255,0);
  padding: 20px;
}
.navigation {
  display: flex;
  width:60%;
  justify-content: space-around;
  border: 2px solid;
  border-color: black;
  background-color: white;
  padding: 20px;
	margin: 0 auto;
    overflow: auto;

}

.bodyflex {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  width:100%;
  font-size: 18px;
  justify-content: center;
  border: 2px solid;
  border-color: black;
  background-color: rgba(255,255,255,1);
  padding: 45px;
  gap:30px;
}
.update
{
  border: 2px solid;
  border-color: black;
  background-color: rgba(255,255,255,1);
  padding: 5px;
 
}
  @media screen and (max-width: 1350px) {
  .bannerlogo {
    background-color:rgba(255,255,255,1);
  }

@media screen and (max-width: 1350px) {
  h4 {
    font-size: 25px; 
	font-weight: light;
  }
  @media screen and (max-width: 1350px) {
  .navigation {
    padding: 19px; 
	width:100%;
  }
  @media screen and (max-width: 1350px) {
  .center{
    width: 50%;
    @media screen and (max-width: 1350px) {
  h5 {
    font-size: 27px;
	font-weight: light;
  }
      @media screen and (max-width: 1350px) {
  .bodyflex {
    gap: 60px;
	}

    @media screen and (max-width: 1350px) {
  p {
    font-size: 19px;
	font-weight: light;
  }
