

*{
padding: 0;
margin: 0;
box-sizing: border-box;
overflow: hidden

}

.frontview { z-index: 1; 
position: relative;}

header{
  
  font-size: 21px;
  font-family: Courier New ;
  color: black;
}

h1{ font-family:Courier New ;
    font-size: 20px;
	font-weight: 1;
	color: black;
	padding: 5px;
	display: inline-block;
	
	
}
h4{ font-family: Courier New;
    font-size: 20px;
	color: #001585;
	font-weight: 1;
	
	
}
h2{ 
	font-family: Courier New;
    font-size: 25px;
	color: #001585;
	font-weight: 1;
	

}
h5{ font-family:Courier New ;
    font-size: 25px;
	font-weight: 1;
	color: black;
	padding: 10px;
	
	
	
}
h4{ font-family: Courier New;
    font-size: 20px;
	color: black;
	font-weight: 1;
	
	
}

body{
	height= 100%
	background-color: black;
	background-image: url("../images/tileB.gif");
	background-position: center;

	background-attachment: fixed;
	

}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	

}
p{ font-family: Courier New;
	
    font-size: 11px;
	color: white;
	background-color: black ;
	font-weight: 1;

	
}


.center {
  width: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
  
}
   a:active {
	
    background: #A9F7FF;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
a:visited {
  color: black;
}
a:link {
  color: black;
}
.navigation {
  display: flex;
  width:60%;
  justify-content: space-around;
  border: 2px solid;
  border-color: white;
  background-color: black;
  padding: 20px;

}
.bannerlogo {
  display: flex;
  width:100%;
  justify-content: center;
  align-items:center;
  background-color:rgba(255,255,255,0);
  padding: 20px;
}
.bodyflex {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  width:100%;
  font-size: 18px;
  justify-content: center;
  border: 2px solid;
  border-color: black;
  background-color: rgba(255,255,255,0.8);
  padding: 30px;
  gap:20px;
}
.update
{
  border: 2px solid;
  border-color: black;
  background-color: rgba(255,255,255,1);
  padding: 10px;
 
}
  @media screen and (max-width: 1350px) {
  .bannerlogo {
    background-color:rgba(255,255,255,1);
  }
@media screen and (max-width: 1350px) {
  h4 {
    font-size: 25px; 
	font-weight: light;
  }
  @media screen and (max-width: 1350px) {
  .navigation {
    padding: 19px; 
	width:100%;
  }

    @media screen and (max-width: 1350px) {
  h5 {
    font-size: 30px;
	font-weight: light;
  }
      @media screen and (max-width: 1350px) {
  .bodyflex {
    gap: 10px;


  }      @media screen and (max-width: 1350px) {
  .center {
    top: 55%;
	width: 80%


  }
  @media screen and (max-width: 1350px) {
  h1 {
    font-size: 16px; 
	
  }


    @media screen and (max-width: 1350px) {
  p {
    font-size: 16px;
	font-weight: light;
  }
