

*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

.frontview { z-index: 1; 
position: relative;}

header{
  
  font-size: 21px;
  font-family: Courier New ;
 
}

h1{ font-family:Courier New ;
    font-size: 16px;
	font-weight: 1;
	color: white;
	padding: 5px;
	display: inline-block;
	
	
}
h3{ font-family:Courier New ;
    font-size: 16px;
	font-weight: 1;
	color: white;
	padding: 5px;
	display: inline-block;
	
	
}
h4{ font-family: Courier New;
    font-size: 20px;
	color: #001585;
	font-weight: 1;
	
	
}
h2{ font-family:Courier New ;
    font-size: 16px;
	font-weight: 1;
	color: white;
	padding: 5px;
	display: inline-block;
	

}
 figure{ font-size:13px;}
h5{ font-family:Courier New ;
    font-size: 14px;
	font-weight: 1;
	color: white;
	padding: 5px;
	display: inline-block;
	
	
	
}
h4{ font-family: Courier New;
    font-size: 20px;
	color: black;
	font-weight: 1;
	
	
}

body{
	height= 100%
	color: black;
	background-image: url("../images/aspentilestill.png");
	background-position: center;

	background-attachment: fixed;
	

}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	

}
p{ font-family: Courier New;
	
    font-size: 11px;
	color: white;
	background-color: black ;
	font-weight: 1;

	
}


.center {
  width: 80%;


  
}
  
}
   a:active {
	
    background: #A9F7FF;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
a:visited {
  color: black;
}
a:link {
  color: black;
}
.navigation {
  display: flex;
  width:60%;
  justify-content: space-around;
  border: 2px solid;
  border-color: black;
  background-color: rgba(255,255,255,1);
  padding: 20px;

}
.bannerlogo {
  display: flex;
  width:100%;
  justify-content: center;
  align-items:center;
  background-color:rgba(255,255,255,0);
  padding: 20px;
}
.bodyflex {
  display: flex;
  flex-wrap:wrap;
  align-items:stretch;
  width:100%;
  font-size: 18px;
  border: 2px solid;
  border-color: white;
  background-color: rgba(255,255,255,1);
  padding: 35px;
  gap:10px;
}
.update
{
  background-color: rgba(0,0,0,1);
  padding: 15px;
  width: 55%;
  text-align: left;
 
}
.updatetop
{
  background-color: rgba(0,0,65,1);
  border: 2px solid;
  border-color: white;
  padding: 25px;
  width: 55%;
  text-align: left;
 
}
hr { border-color: white
}
.photoupdate
{  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  background-color: rgba(0,0,0,1);
  padding: 5px;
  width: 100%;
  padding: 20px;
  gap:30px;
 
}

.updatemid
{
  background-color: rgba(0,0,0,1);
  padding: 10px;
  width: 100%;
  text-align: left;
 
}
a:link {
 }
figcaption {
  color: white;
  font-style: italic;
 
  font-family:Courier New ;
  font-size: 13px;
  font-weight: 1;
}
.responsive {
  width: 20%;
  height: auto;
  border:solid 1px white;
   
}
.responsivebig {
  width: 30%;
  height: auto;
  border:solid 1px white;
   
}
  @media screen and (max-width: 1350px) {
  .bannerlogo {
    background-color:rgba(255,255,255,1);
  }
@media screen and (max-width: 1350px) {
  h4 {
    font-size: 25px; 
	font-weight: light;
  }
  @media screen and (max-width: 1350px) {
  h3 {
    font-size: 18px; 
	
  }
  @media screen and (max-width: 1350px) {
  .navigation {
    padding: 19px; 
	width:100%;
  }
      @media screen and (max-width: 1350px) {
  .update {
    width: 90%;
	padding: 20px;
  }
        @media screen and (max-width: 1350px) {
  .updatetop {
    width: 100%;
	padding: 5px;
  }
        @media screen and (max-width: 1350px) {
  .updatemid {
    padding: 5px;
  }
          @media screen and (max-width: 1350px) {
  .photoupdate {
    padding: 10px;
	gap:10px;
  }
    @media screen and (max-width: 1350px) {
  figure {
    font-size: 10px;
	
  }
      @media screen and (max-width: 1350px) {
  .responsive {
    width:30%;
  }
        @media screen and (max-width: 1350px) {
  .responsivebig {
    width:40%;
  }
      @media screen and (max-width: 1350px) {
  .bodyflex {
    gap: 0px;
	padding: 5px;

  }

  @media screen and (max-width: 1350px) {
  h1 {
    font-size: 13px; 
	
  }

    @media screen and (max-width: 1350px) {
  h2 {
    font-size: 11px; 
	
  }

    @media screen and (max-width: 1350px) {
  p {
    font-size: 16px;
	font-weight: light;
  }
